$main-bg-color: #314555;
$main-gray-color: #ececec;
$todo-white-color: #ffffff;
$todo-do-color: #0394fd;
$todo-done-color: #fd0375;
$text-bg-color: #f3f3f3;
$btn-cancel-color: #ff5656;
$btn-submit-color: #55a7ff;